<div id="About" class=" mt-16 relative bg-gray-800 text-white py-20 h-auto">
    <div class="container mx-auto max-w-6xl px-8 text-center">
        <h2 class="text-xl font-semibold uppercase text-purple-400 bg-purple-800 px-4 py-2 rounded-lg inline-block">
            More About Me
        </h2>

        <h1 class="text-6xl font-extrabold mt-5">
            Hi there! I'm  Sitha Mahalaxmi
        </h1>

        <p class="text-lg text-gray-300 leading-relaxed max-w-3xl mx-auto mt-6">
            A passionate Full-Stack Developer who enjoys <strong>dynamic and engaging web experiences</strong>. 
            My expertise spans <strong>frontend technologies, backend development, and scalable web solutions</strong>.
        </p>

        <p class="text-lg text-gray-400 mt-4">
            When I'm not coding, I'm <strong>exploring tech trends, solving challenges, and continuously learning</strong> to enhance my skills.  
            Every project I work on reflects my commitment to <strong>clean, efficient, and user-friendly development</strong>.
        </p>

        <div class="mt-10">
            <button class="bg-purple-600 text-white px-6 py-3 rounded-full shadow-lg hover:bg-purple-700 transition duration-300">
                Let's Collaborate
            </button>
        </div>
    </div>
</div>
<section>


<section class="bg-gray-800 text-white py-10 px-6">
  <h3 class="text-3xl font-bold text-center mb-6">Skills</h3>
  <div class="flex flex-wrap justify-center gap-4">
    <span class="px-5 py-2 rounded-full bg-white/10 hover:bg-white/20 transition">PYTHON</span>
    <span class="px-5 py-2 rounded-full bg-white/10 hover:bg-white/20 transition">NUMPY</span>
    <span class="px-5 py-2 rounded-full bg-white/10 hover:bg-white/20 transition">PANDAS</span>
    <span class="px-5 py-2 rounded-full bg-white/10 hover:bg-white/20 transition">MATPLOTLIB</span><BR>

    <span class="px-5 py-2 rounded-full bg-white/10 hover:bg-white/20 transition">UI/UX</span>
    <span class="px-5 py-2 rounded-full bg-white/10 hover:bg-white/20 transition">MYSQL</span>
    <span class="px-5 py-2 rounded-full bg-white/10 hover:bg-white/20 transition">MONGODB</span>
    <span class="px-5 py-2 rounded-full bg-white/10 hover:bg-white/20 transition">ASW</span>
    <span class="px-5 py-2 rounded-full bg-white/10 hover:bg-white/20 transition">DJANGO</span>
    <span class="px-5 py-2 rounded-full bg-white/10 hover:bg-white/20 transition">RESTAPI</span>
    <span class="px-5 py-2 rounded-full bg-white/10 hover:bg-white/20 transition">FLASK</span>
    <span class="px-5 py-2 rounded-full bg-white/10 hover:bg-white/20 transition">GIT</span>
    <span class="px-5 py-2 rounded-full bg-white/10 hover:bg-white/20 transition">GITHUB</span>


   
  </div>
</section>
